<div class="footer">
        <div class="foot-head">
            Find Us On
        </div>
        <div class="foot-info">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-snapchat-square"></i>
            <i class="fab fa-pinterest-square"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="foot-powered">Powered by<a href="#">Vanquyen.css</a></div>
</div>