 <div class="header">
        <div class="header-nav">
            <ul class="nav-menu">
                <li><a href="#"><i class="fas fa-bed"></i>Logo</a></li>
                <li><a href="#rooms">Thêm khóa học</a></li>
                <li><a href="#about">Cập nhật khóa học</a></li>
                <li><a href="#contact">Xóa khóa học</a></li>
            </ul>
            <div class="nav-mobile"><i class="fas fa-bars"></i></div>
            <div class="moblie-menu">
                <div class="btn-close"><i class="fas fa-times"></i></div>
                <ul class="menu-mobi">
                    <li><a href="#rooms" class="event-close">Thêm khóa học</a></li>
                    <li><a href="#about" class="event-close">Cập nhật khóa học</a></li>
                    <li><a href="#contact" class="event-close">Xóa khóa học</a></li>
                </ul>
            </div>
            <div class="nav-select"><button class="btn-dn">Đăng xuất</button></div> 
        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div id="modal-bg">
          <div class="modal-account">
            <div class="account-heading">Đăng nhập (admin)</div>
            <div class="account-close"><i class="fas fa-times"></i></div>
          
          <div class="account-submit">
            <form method="POST">
              <label for="name">Tên đăng nhập</label>
              <input type="text" id="name"name="name" placeholder="Email">
              <label for="pws">Password</label>
              <input type="password" id="pws" name="password"placeholder="Password">
              <button type="submit" class= "btn btn-primary account-btn">Đăng nhập</button>
            </form>
          </div>
          </div>
        </div>
       
</div>









