 <div class="header">
        <div class="header-nav">
            <ul class="nav-menu">
                <li><a href="#"><i class="fas fa-bed"></i>Hanoi Central Hotel</a></li>
                <li><a href="#rooms">Khách sạn</a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li><a href="#contact">Liên Hệ</a></li>
            </ul>
            <div class="nav-mobile"><i class="fas fa-bars"></i></div>
            <div class="moblie-menu">
                <div class="btn-close"><i class="fas fa-times"></i></div>
                <ul class="menu-mobi">
                    <li><a href="#rooms" class="event-close">Khách sạn</a></li>
                    <li><a href="#about" class="event-close">Giới thiệu</a></li>
                    <li><a href="#contact" class="event-close">Liên hệ</a></li>
                </ul>
            </div>
            
            <div class="nav-select">
              <button class="btn-dk">Đăng kí</button>
              <button class="btn-dn">Đăng nhập</button>
            </div> 
        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div id="modal-bg">
          <div class="modal-account col-lg-5 col-sm-10">
            <div class="account-heading">Đăng nhập</div>
            <div class="account-close"><i class="fas fa-times"></i></div>
          
          <div class="account-submit">
            <form method="POST" action="\admin">
              <label for="name">Tên đăng nhập</label>
              <input type="text" id="name"name="name" placeholder="Email">
              <label for="pws">Password</label>
              <input type="password" id="pws" name="password"placeholder="Password">
              <button type="submit" class= "btn btn-primary account-btn">Đăng nhập</button>
            </form>
          </div>
          </div>
        </div>
       
</div>








{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> --}}
