 <div class="header">
        <div class="header-nav">
            <ul class="nav-menu">
                <li><a href="#"><i class="fas fa-bed"></i>Logo</a></li>
                <li><a href="/admin/them-phong">Thêm phòng</a></li>
                <li><a href="/admin/cap-nhat-phong">Danh sách khách sạn</a></li>
                {{!-- <li><a href="/admin/xoa-phong">Xóa phòng</a></li> --}}
            </ul>
            <div class="nav-mobile"><i class="fas fa-bars"></i></div>
            <div class="moblie-menu">
                <div class="btn-close"><i class="fas fa-times"></i></div>
                <ul class="menu-mobi">
                    <li><a href="/admin/them-phong" class="event-close">Thêm phòng</a></li>
                    <li><a href="/admin/cap-nhat-phong" class="event-close">Danh sách khách sạn</a></li>
                    {{!-- <li><a href="/admin/xoa-phong" class="event-close">Xóa phòng</a></li> --}}
                </ul>
            </div>
            <div class="nav-select"><a href="/">Đăng xuất</a></div> 
        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        {{!-- <div id="modal-bg">
          <div class="modal-account">
            <div class="account-heading">Đăng nhập</div>
            <div class="account-close"><i class="fas fa-times"></i></div>
          
          <div class="account-submit">
            <form method="POST">
              <label for="name">Tên đăng nhập</label>
              <input type="text" id="name"name="name" placeholder="Email">
              <label for="pws">Password</label>
              <input type="password" id="pws" name="password"placeholder="Password">
              <button type="submit" class= "btn btn-primary account-btn">Đăng nhập</button>
            </form>
          </div>
          </div>
        </div> --}}
       
</div>









