<div class="container  mt-4">
    <form method="GET">
        <label for="search">Tìm kiếm</label>
        <input type="text" name="q" placeholder="nhập từ khóa">
        <button type="submit">Tìm kiếm</button>
    </form>
</div>